{{# if product }}
<div class="tar sticky1">
   <form action="/add-to-basket/{{ product._id }}" method="get">
      <input class="btn btn-success btn-sm float" type="submit" value="Add to basket" />
</div>
<div class="margin">
<div class="row mb-3 row1">
<div class="themed-grid-col">
<div class="row">
<div class="col-lg-8 item">
<span class="notify-badge">{{ product.action }}</span>
<img class="img1" src="{{ product.link }}" alt="{{ product.name }}" title="Source: Unsplash">
</div>
<div class="col-lg-4 data">
<br>
<h1 class="main">Information about the <strong><em>{{ product.name }}</em></strong></h1>
<p>Product code: <br> {{ product._id }}</p>
<p>Product name: <br> {{ product.name }}</p>
<p>Product price: <br> {{ product.price }} €</p>
<p id="action" class="error ">{{product.bannerMessage}}</p>
</div>
<div class="col-lg-12">
<p>Product description: <br> {{ product.description }}</p>
</div>
</div>
</div>
</div>
</form>
{{ else }}
<div class="margin">
<div class="row mb-3 row1">
<div class="col-md-12 themed-grid-col data">
<div class="error">
<h5>Product not found in stock &#128546;</h5>
<img src="/error.png" class="img6" title="Izvor: Pixabay" alt="error">
</div>
<script>
   setTimeout(function(){
   history.back();
         }, 3000)
</script>
</div>
</div>
</div>
{{/if}}
</div>